@charset "utf-8";
/* 全局樣式 */
body,div,img,table,td,tr,p,a,span,em,ul,li {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: '宋体', Simsun;
}

ul,li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

/* north 样式 */
.north {
  height: 45px;
}
.toolbar_search {
  line-height:45px;
  padding-left: 15px;
  whidth: 100%;
  height: 45px;
  border: 1px solid #cccccc;
  background-color: #F4F4F4;
  position: relative;
}
#toolbar_div select {
  width: 150px;
}
#toolbar_div button {
  text-decoration: none;
}
.toolbar_button {
  margin-left: 15px;
  width: 32px;
  height: 32px;
  color: #ffffff;
  border: 0;
  background: url(/gisyw/image/btn_3h.png);
  cursor: pointer;
  position:absolute;/*层漂浮*/  
  top:50%;  
  margin-top:-16px;/*注意这里必须是DIV高度的一半*/ 
}
.toolbar_button:hover {
  background: url(/gisyw/image/btn_3i.png);
}
.toolbar_button:active {
  background: url(/gisyw/image/btn_3d.png);
}
/* 按钮样式 */
.ul_button {
  float: right;
}
.ul_button li {
  float: left;
}

.big-button {
  margin-right: 10px;
  width: 104px;
  height: 39px;
  border: 0;
  cursor: pointer;
}
/*解锁  */
.button-unlock {
 background-image: url(/gisyw/image/img_jiesuo.png);
}
.button-unlock:hover {
 background-image: url(/gisyw/image/img_jiesuo_hover.png);
}
.button-unlock:active {
 background-image: url(/gisyw/image/img_jiesuo_down.png);
}

/*重置密码*/
.button-resetps {
 background-image: url(/gisyw/image/btn_reset_password.png);
}
.button-resetps:hover {
 background-image: url(/gisyw/image/btn_reset_password_hover.png);
}
.button-resetps:active {
 background-image: url(/gisyw/image/btn_reset_password_down.png);
}
/* 添加 */
.button-add {
  background-image: url(/gisyw/image/btn_7h.png);
}
.button-add:hover {
  background-image: url(/gisyw/image/btn_7i.png);
}
.button-add:active {
  background-image: url(/gisyw/image/btn_7d.png);
}
/* 审核 */
.button-auditing {
  background-image: url(/gisyw/image/btn_17h.png);
}
.button-auditing:hover {
  background-image: url(/gisyw/image/btn_17i.png);
}
.button-auditing:active {
  background-image: url(/gisyw/image/btn_17d.png);
}
/* 删除 */
.button-delete {
  background-image: url(/gisyw/image/btn_8h.png);
}
.button-delete:hover {
  background-image: url(/gisyw/image/btn_8i.png);
}
.button-delete:active {
  background-image: url(/gisyw/image/btn_8d.png);
}
/* 表格按钮样式  */
.grid-button {
  margin: 4px 0 3px 0;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.grid-button1 {
  margin-right:10px;
  margin-bottom:5px;
  display: inline-block;
  width: 24px;
  height: 24px;
}
.button-edit {
  background: url(/gisyw/image/btn_14i.png);
}

.button-lock {
  background: url(/gisyw/image/img_suoding.png);
}
.button-deletes {
  background: url(/gisyw/image/btn_15i.png);
}